[submodule "quantum_random"]
	path = quantum_random
	url = https://github.com/tbraun96/quantum_random.git

[submodule "net2-rs"]
	path = net2-rs
	url = https://github.com/rust-lang-nursery/net2-rs.git
[submodule "tokio_agnostic_uds"]
	path = tokio_agnostic_uds
	url = ./tokio_agnostic_uds

[submodule "tokio_agnostic_uds"]
    path = fcm-rust
    url = ./hyxe_user/fcm-rust