# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\satori.net\hyxewave\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
