on:
  pull_request:
    types: [closed]
    branches:
      - master

jobs:
  coverage_upload:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    if: github.event.pull_request.merged == true
    steps:
      - uses: actions/checkout@v3
        with:
          ref: 'coverage_files'
      - run: mv ${GITHUB_WORKSPACE}/lcov-${GITHUB_HEAD_REF}.info ${HOME}/lcov.info
      - uses: actions/checkout@v3
        with:
          ref: 'master'
      - run: mv ${HOME}/lcov.info ${GITHUB_WORKSPACE}/lcov.info
      - uses: codecov/codecov-action@master
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ${{ env.GITHUB_WORKSPACE }}/lcov.info
          fail_ci_if_error: true
      - name: Cleanup codecov file
        if: success()
        run: |
          git config --global user.name "tbraun96"
          git config --global user.email "thomas.braun@avarok.net"
          rm -rf ${{ env.GITHUB_WORKSPACE }}/lcov.info
          git commit -am "cleanup old codecov file"
          git push